
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'list', user: @user %>
    </div>
    <div class="col-md-8 offset-md-1">
      <table class="table table-striped">
        <thead>
          <th>Book detail</th>
        </thead>
      <tbody>
        <tr>
          <td>
            <%= link_to user_path(@user.id) do%>
              <%=image_tag @user.get_profile_image(50, 50) %>
             <p> <%= @user.name %> </p>
            <% end %>

          </td>
          <td>
            <%= link_to @book.title, book_path(@book.id) , class: 'nav-link ' %>
          </td>
          <td>
            <%= @book.body %>
          </td>
          <% if @user == current_user %>
          <td>
            <%= link_to "Edit", edit_book_path(@book.id) , class: "btn btn-success btn-lg col-10" %>
          </td>
          <td>
            <%= link_to "Destroy",book_path(@book.id) , class: "btn btn-danger btn-lg col-10",method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
          <% end %>
          <% if @book.favorited_by?(current_user) %>
                <td>
                  <%= link_to book_favorite_path(@book), method: :delete do %><p class="text-danger">
                     <i class="fa-solid fa-heart" ></i><%= @book.favorites.count %></p>
                  <% end %>
                </td>
              <% else %>
                <td>
                  <%= link_to book_favorite_path(@book), method: :post do %>
                     <i class="fa-solid fa-heart" ></i><%= @book.favorites.count %>
                  <% end %>
                </td>
              <% end %>
          <td>コメント数：<%= @book.book_comments.count %></td>

        </tr>
      </tbody>
      </table>
      <div>
          <table class="table table-striped">
            <tbody>
              <tr>
              <% @book.book_comments.each do |book_comment| %>
                <td><%= image_tag book_comment.user.get_profile_image(50,50) %>
                <p><%= book_comment.user.name %></p></td>
                <td><%= book_comment.comment %></td>
                <td><% if book_comment.user == current_user %>
                      <%= link_to "Destroy",book_book_comment_path(book_comment.book, book_comment) , class: "btn btn-danger btn-lg col-6",method: :delete %>
                    <% end %> </td>

              </tr>
              <% end %>
            </tbody>
          </table>
      </div>
      <div>
        <%= form_with model: [@book, @book_comment] do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
      </div>
    </div>
  </div>
</div>